# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
../env/
.env/
env/
../venv/
.venv/
venv/

# Django
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db